h1
{
  color: blue;
}
body {
  background-color: grey;
  font-family: 'Yeon Sung', cursive;
}
.thumbnails img:hover{
  opacity: 1;
}
.thumbnails:hover img{
  opacity: .4;
  -webkit-filter: sepia(0);
  filter: sepia(0);
}
.thumbnails img{
  transition: all .6s ease-in;
}

