{%extends 'all-images/base.html'%}

{% block content %}
{{block.super}}

<div class="container">

    <!-- Looping through images   -->
    {% for image_item in image %}
  
    <div class="row">
      <!-- displaying Images titles -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-center"> {{ image_item.title }} </h2>
      </div>
      <!--Display images  -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{image_item.image_image.url}}" class="img-responsive" alt="Image">
      </div>
    </div>
  
    {% empty %}
    <div class="row">
      <h2 class="text-center">There is no Image found.</h2>
    </div>
    {% endfor %}
  
  </div>
  
  {% endblock %}
  